* { margin:0;padding:0;box-sizing:border-box; }
body { background:#7fffd4; }
#all { height: 70vh;text-align: center; }
#in #out{width:100%;}
input {width:100%; text-align:center; padding:5px; font-size:2em; color:#cca349;}
h3 {margin:20px;text-align:center;color:#ff7d78;}
